@media only screen and (max-width: 400px)
{
 
ul.menu>li>ul.submenu>li:nth-of-type(2){
display: flex;
background-color: palevioletred;
        flex-wrap: wrap;
        flex-basis: 50px;
    padding: 0;}

    ul.submenu>li{
     width:100%;
     background: black;
     opacity: 0.9;
   }  
   header{
       padding-top: 0;
   }
   h2.bg-text{
    position: relative;
    margin-top: 30vh;
    width: 80%;
}
main{
    margin-bottom: 50px;
}
table{
    margin-top: 0;
    table-layout: fixed;
    width: 350px;
}

.fav{
    width: 10% !important ;
}
.fa{
    bottom: 20px;
}
}

@media only screen and (max-width: 780px) and (min-width: 400px){
    main{
        margin-bottom: 350px;
     
    }
    .bg-text{
        top: 80px !important;
    }
    .fav{
        width: 6% !important ;
    }
    table{
        margin-top: 0;
        table-layout: fixed;
        top: 340px;
        height: 100px;
        width: 80%;
    }
}